#blog {
  scroll-behavior: smooth;
}

#blog u {
  text-underline-offset: 2px;
}

#blog p {
  line-height: 1.75;
}

#blog ul {
  list-style-type: none;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

#blog li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(254, 215, 170)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='m12 5 7 7-7 7'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
  vertical-align: middle;
}

#blog b {
  color: whitesmoke;
  font-weight: 700;
}

#blog a {
  color: rgb(254, 215, 170);
  text-decoration: none;
}

#blog a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

#blog h2 {
  font-size: 1.5rem /* 24px */;
  font-weight: 500;
  padding-top: 2.5rem /* 20px */;
  padding-bottom: 0.75rem /* 12px */;
  color: hsl(var(--secondary-foreground));
}

#blog h3 {
  font-size: 1.25rem /* 20px */;
  font-weight: 500;
  padding-top: 1rem /* 32px */;
  padding-bottom: 0.75rem /* 12px */;
  color: hsl(var(--secondary-foreground));
}

#blog h4 {
  font-size: 1.125rem /* 18px */;
  font-weight: 500;
  padding-top: 1.5rem /* 24px */;
  padding-bottom: 0.75rem /* 12px */;
  color: hsl(var(--secondary-foreground));
}

#blog aside h4 {
  font-size: 1rem /* 16px */;
  font-weight: 500;
  padding-top: 0.5rem /* 24px */;
  padding-bottom: 0.5rem /* 12px */;
  color: white;
}

#blog aside b {
  color: white;
}

#blog em {
  color: rgb(178, 251, 165);
}

#blog aside {
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

#blog pre {
  background: #24273a;
}

#blog img {
  max-width: 100%;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
}
